#myCanvas {
  display: block;
  margin: auto;
}

#message {
    display: inline-block;
    vertical-align: top;
    width: 400px;
    background-color: #ffffdd;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
}