#myCanvas {
  display: block;
  margin: auto;
}
/* 
#message {
    display: inline-block;
    vertical-align: top;
    width: 400px;
    background-color: #ffffdd;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 10px;
  } */