#myCanvas {
  display: block;
  margin: auto;
}
/* 
#message {
    display: inline-block;
    vertical-align: top;
    width: 400px;
    background-color: #ffffdd;
    font-family: cursive;
    padding: 10px;
} */